body
{
	background-color:pink;
	fontfamily:arial,Times;
}
header
{
	background-color:orange;
		width:80%;
	color:blue;
	margin-left:auto;
	margin-right:auto;
	text-align:center;

	padding:10px;

}
footer
{
	background-color:orange;
	width:80%;
	color:blue;
	margin-right:auto;
	margin-left:auto;
	text-align:right;

	padding:10px;
	

}
section
{
	background-color:blue;
	width:80%;
	color:white;
	margin-left:auto;
	margin-right:auto;
	text-align:left;

	border-width:5px;
	border-color:orange;
	border-style:solid;

	padding:5px;

}